input{
    position: absolute;
    background-color: #f3e5f5;
    left: 45%;
    width: 30%;
    color: black;
}
button{
    width: 20%;
    padding: 4px;
    padding-right: 80px;
    border-radius: 8px;
    white-space: nowrap;
    color: black;
    background-color: #f3e5f5;
 
}
ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: flex-start;
    width: 100%;
    
}
li{
    width: 100%;
    list-style-type: none;
    list-style: none;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    
}