footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  border-radius: 5px; }

.iconosFooter {
  padding: 3px;
  background-color: rgba(0, 107, 119, 0.8);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: auto; }

.iconosFooter a {
  text-decoration: none;
  background-color: rgba(0, 107, 119, 0.8);
  color: #d4d4d4;
  height: fit-content;
  width: fit-content;
  white-space: nowrap; }

.start {
  width: 99%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.iconosFooterStart {
  padding: 3px;
  background-color: rgba(0, 107, 119, 0.8);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }

.iconosFooterStart a {
  text-decoration: none;
  background-color: rgba(0, 107, 119, 0.8);
  color: #d4d4d4;
  height: fit-content;
  width: fit-content;
  white-space: nowrap; }

#productScreen {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

#checkOut {
  position: absolute;
  top: 28px;
  left: 67%; }

/* Icon 1 */
* {
  background-color: yellow;
  background-color: #006b77;
  color: #f3e5f5;
  margin: 0px;
  padding: 0px;
  font-family: 'Dosis', sans-serif; }

.col-6 {
  display: flex;
  justify-content: center;
  align-items: center; }

.col-6 button {
  height: 100%;
  width: 100%;
  max-height: 30px;
  font-size: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcf5f5; }

.col-3 {
  display: flex; }

.col-3 button {
  width: 100%; }

section {
  padding-bottom: 10px;
  border-color: #f3e5f5;
  display: flex;
  align-items: center;
  justify-content: center; }

.elementos {
  display: flex;
  align-items: center;
  text-align: center; }

a {
  text-decoration: none;
  color: black;
  background-color: #f3e5f5;
  height: fit-content;
  width: fit-content;
  white-space: nowrap; }

.col-12 {
  text-decoration: none;
  border-bottom: 1px solid #d4d4d4;
  line-height: 1.4;
  font-weight: 900;
  font-size: 5.5vw;
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.container {
  height: 100%;
  margin: 0px; }

#box3 {
  overflow: hidden;
  height: 100%; }

#descriptionBox {
  font-size: 4vw;
  border-bottom: none;
  display: flex;
  text-align: left;
  justify-content: flex-start;
  align-items: center; }

#priceTag {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vw; }

#box2 {
  height: 100%;
  display: flex; }

#imgBox {
  padding: 5px;
  height: 35%;
  max-width: 120px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  object-fit: cover;
  position: relative;
  top: 50%; }

#imgBox img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  border: 1px solid #d4d4d4;
  border-radius: 8px;
  position: relative;
  top: 50%; }

#primerItem {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center; }

@media screen and (min-width: 600px) {
  * {
    margin: 0; }

  #imgBox img {
    justify-content: center;
    max-height: 150px;
    position: relative;
    top: 50%; }

  .col-12 {
    font-size: 3vw; }

  #descriptionBox {
    font-size: 2vw; }

  #box2 {
    display: flex;
    justify-content: center;
    align-items: center; }

  .col-6 button {
    height: 75%;
    width: 75%;
    font-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center; } }
@media screen and (min-width: 1280px) {
  .col-12 {
    font-size: 3vw; }

  #descriptionBox {
    font-size: 2vw; }

  #box2 {
    display: flex;
    justify-content: center;
    align-items: center; }

  #imgBox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%; }

  #imgBox img {
    justify-content: center;
    max-height: 150px;
    position: relative;
    top: 50%; }

  .col-6 button {
    height: 75%;
    width: 75%;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center; } }
/*# sourceMappingURL=header.css.map */
#navBar {
  border-bottom: 1px solid #d4d4d4;
  background-color: #006b77; }

#logo {
  position: absolute;
  top: 19px;
  left: 68%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300; }

.animated-icon1, .animated-icon2, .animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

.animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

.animated-icon1 span {
  background: #006b77; }

.animated-icon2 span {
  background: #e3f2fd; }

.animated-icon3 span {
  background: #f3e5f5; }

.animated-icon1 span:nth-child(1) {
  top: 0px; }

.animated-icon1 span:nth-child(2) {
  top: 10px; }

.animated-icon1 span:nth-child(3) {
  top: 20px; }

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg); }

/* Icon 3*/
.animated-icon2 span:nth-child(1) {
  top: 0px; }

.animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
  top: 10px; }

.animated-icon2 span:nth-child(4) {
  top: 20px; }

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%; }

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%; }

/* Icon 4 */
.animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

.animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

.animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px; }

.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0; }

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px; }

#hamburgerButton {
  outline: 0;
  border: none; }

input {
  position: absolute;
  background-color: #f3e5f5;
  left: 45%;
  width: 30%;
  color: black; }

button {
  width: 20%;
  padding: 4px;
  padding-right: 80px;
  border-radius: 8px;
  white-space: nowrap;
  color: black;
  background-color: #f3e5f5; }

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: flex-start;
  width: 100%; }

li {
  width: 100%;
  list-style-type: none;
  list-style: none;
  padding: 5px;
  display: flex;
  justify-content: flex-start; }

input {
  position: absolute;
  background-color: #f3e5f5;
  left: 45%;
  width: 30%;
  color: black; }

button {
  width: 20%;
  padding: 4px;
  padding-right: 80px;
  border-radius: 8px;
  white-space: nowrap;
  color: black;
  background-color: #f3e5f5; }

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: flex-start;
  width: 95%; }

li {
  width: 100%;
  list-style-type: none;
  list-style: none;
  padding: 5px;
  display: flex;
  justify-content: flex-start; }

.bodyTitle {
  position: absolute;
  top: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.appTitle {
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-weight: 900;
  transition: ease-in 2s;
  animation-name: delivery;
  animation-duration: 4s; }

@keyframes example {
  0% {
    transform: rotateY(0deg); }
  25% {
    transform: rotateY(180deg); }
  50% {
    transform: rotateY(360deg); }
  75% {
    transform: rotateY(540deg); }
  100% {
    transform: rotateY(720deg); } }
.turn {
  position: relative;
  animation-name: example;
  animation-duration: 2.5s;
  animation-timing-function: ease-in; }

@keyframes example2 {
  0% {
    transform: rotateY(0deg); }
  25% {
    transform: rotateY(180deg); }
  50% {
    transform: rotateY(360deg); }
  75% {
    transform: rotateY(540deg); }
  100% {
    transform: rotateY(720deg); } }
@keyframes example3 {
  0% {
    transform: rotateY(0deg); }
  25% {
    transform: rotateY(180deg); }
  50% {
    transform: rotateY(360deg); }
  75% {
    transform: rotateY(540deg); }
  100% {
    transform: rotateY(720deg); } }
@keyframes example4 {
  0% {
    transform: rotateY(0deg); }
  25% {
    transform: rotateY(180deg); }
  50% {
    transform: rotateY(360deg); }
  75% {
    transform: rotateY(540deg); }
  100% {
    transform: rotateY(720deg); } }
@keyframes example5 {
  0% {
    transform: rotateY(0deg); }
  25% {
    transform: rotateY(180deg); }
  50% {
    transform: rotateY(360deg); }
  75% {
    transform: rotateY(540deg); }
  100% {
    transform: rotateY(720deg); } }
.rand1 {
  position: relative;
  animation-name: example2;
  animation-duration: 1s;
  animation-timing-function: ease-in; }

.rand2 {
  position: relative;
  animation-name: example3;
  animation-duration: 1.5s;
  animation-timing-function: ease-in; }

.rand3 {
  position: relative;
  animation-name: example4;
  animation-duration: 2s;
  animation-timing-function: ease-in; }

.rand4 {
  position: relative;
  animation-name: example5;
  animation-duration: 2.5s;
  animation-timing-function: ease-in; }

/*# sourceMappingURL=styleAll.css.map */
